.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}

.inputContainer input {
  padding: 8px 12px;
}

.options {
  position: absolute;
  top: 70px;
  left: 0;
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow: auto;
}

.option {
 display: flex;
 padding: 6px;
 cursor: pointer;
 border-radius: 4px;
}

.option:hover {
  background-color: aliceblue;
  color: black;
}